$primary-text-color: #fff;
$primary-bg-color: #001529;
$post-title: #333;
$post-title-color: #2c3e50;
$post-body-color: #7f8c8d;
$box-shadow-post: 0 1px 4px rgba(0, 0, 0, 0.1);
$box-shadow-post-hover: 0 4px 12px rgba(0, 0, 0, 0.1);
$modal-input-border-color: #ccc;
$modal-input-focus-border-color: #1890ff;
